# 인증 관련 =======================================================================

## 세션 인증 사용 여부 (사용 시 Endpoint 접근에 세션 필요, 미사용 시 모든 Endpoint 접근 가능)
USE_SESSION=

## 세션 접근 유효 시간 (초)
SESSION_ACCESS_TTL_SEC=

## 세션 갱신 유효 시간 (초))
SESSION_REFRESH_TTL_SEC=
